@media (max-width: 600px) {
	.hero-frame {
        width: 80%;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: none;
		top: 40%;
    }
	
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }
	
    .hero-content h1 {
        font-size: 1.4em;
    }

    .hero-content p {
        font-size: 0.7em;
    }
	
    .project-frame {
        font-size: 0.7em;
        padding: 5px;
    }

    .code-docs {
        flex-direction: column;
    }

}

@media (max-width: 768px) {
	.hero-frame {
        width: 80%;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: none;
		top: 30%;
    }
	
    .hero-content h1 {
        font-size: 1em;
    }

    .hero-content p {
        font-size: 0.7em;
    }
	
    .project-frame {
        font-size: 0.8em;
        padding: 20px;
    }

}

@media (max-width: 426px) {
	.hero-frame {
        width: 80%;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: none;
		top: 27%;
    }
	
    .hero-content h1 {
        font-size: 1em;
    }

    .hero-content p {
        font-size: 0.5em;
    }
	
    .project-frame {
        font-size: 0.7em;
        padding: 10px;
    }

    .projects-grid {
        gap: 10px;
    }

}

@media (max-width: 376px) {

    .project-frame {
        padding: 6px;
    }

    
}

@media (max-width: 370px) {

    .project-frame {
        padding: 2px;
    }

    
}
