@media (max-width: 600px) {
	.hero-frame {
        width: 80%;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: none;
		top: 40%;
    }
	
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }
	
    .hero-content h1 {
        font-size: 1.4em;
    }

    .hero-content p {
        font-size: 0.7em;
    }
	
    .project-frame {
        font-size: 0.7em;
        padding: 0;
    }

    .code-docs {
        flex-direction: column;
    }

}

@media (max-width: 768px) {
	.hero-frame {
        width: 80%;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: none;
		top: 50%;
    }
	
    .hero-content h1 {
        font-size: 1.2em;
    }

    .hero-content p {
        font-size: 0.8em;
    }
	
    .project-frame {
        font-size: 0.8em;
    }

}

@media (max-width: 320px) {
	.hero-frame {
        width: 80%;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: none;
		top: 40%;
    }
	
    .hero-content h1 {
        font-size: 1.2em;
    }

    .hero-content p {
        font-size: 0.5em;
    }
	
    .project-frame {
        font-size: 0.7em;
        padding: 0;
    }

}
