body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-img {
	margin-top: 20px;
    max-width: 240px;
	max-height: 240px;
    margin-bottom: 20px;
}

.title-frame {
    border: 2px solid #333;
    padding: 10px 20px;
    margin-bottom: 40px;
    display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 8px 8px 8px 8px;
    
}

.title {
    font-size: 2em;
    color: #333;
}

.index-table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

.index-table tr {
    border-bottom: 1px solid #ddd;
}

.index-table td {
    padding: 10px 20px;
}

.index-table a {
    text-decoration: none;
    font-size: 1.2em;
    color: #007BFF;
    transition: color 0.3s ease;
}

.index-table a:hover {
    color: #0056b3;
}

.code-docs {
    text-align: center;
    margin-bottom: 20px;
	padding-bottom: 0px;
	display: inline-flex;
	display: flex;
    justify-content: center;
    align-items: center;
	font-weight: bold;
}

.code-docs p {
    font-size: 1.2em;
}

.code-docs a {
    margin-left: 10px;
    display: inline-flex;
}

.code-docs img {
	display: block;
	max-width:24px;
	max-height:24px;
	width: 24px;
	height: 24px;
}

.next-page {
    margin-top: 20px;
	margin-bottom: 20px;
}

.next-page a {
    text-decoration: none;
    font-size: 1.2em;
    color: #007BFF;
    transition: color 0.3s ease;
}

.next-page a:hover {
    color: #0056b3;
}

