body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}


.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 2em;
    color: #333;
    margin: 20px 0;
}

.scope-table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 60px;
    text-align: center;
}

.scope-table tr {
    border: 1px solid black;
}

.scope-table td {
    padding: 10px;
    width: 50%;
	border: 1px solid black;
}

.scope-table td[colspan="2"] {
    width: 100%;
    border: 1px solid black;
}

.highlight-row {
    background-color: #c2c2c2;
    font-weight: bold;
    text-align: center;
}

.lists {
    text-align: left;
}

.scope-table .risk {
    width: 75%;
    text-align: center;
}

.rating.low {
    background-color: yellow;
    width: 25%;
}

.rating.medium {
    background-color: orange;
    width: 25%;
}

.rating.high {
    background-color: red;
    width: 25%;
}

.screenshot {
    max-width: 100%;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.navigation a {
    text-decoration: none;
    font-size: 1.2em;
    color: #007BFF;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #0056b3;
}

